* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbdede; 
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  transition: background-color 0.5s ease-in-out; 
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}


body.clear-background {
  background-color: #68caf0; 
}

body.rain-background {
  background-color: #324ae3;
}

body.thunderstorm-background {
  background-color: #0e3c69; 
}

body.cloudy-background {
  background-color: #abd1d4; 
}

body.snow-background {
  background-color: #e0f7fa; 
}

body.default-background {
  background-color: #931897; 
}